/* App.css */
* {
  font-family: "Poppins"
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%; /* Adjust the percentage based on your aspect ratio */
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%; /* Ensure this is set to 100% */
  position: absolute;
}


<<<<<<< HEAD
=======

>>>>>>> 6f34050d6d4d58ccd729fa15ead3a7118ce0b5d4
