/* App.css */
* {
  font-family: "Poppins";
}

<<<<<<< HEAD
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  /* Adjust the percentage based on your aspect ratio */
=======
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%; /* Adjust the percentage based on your aspect ratio */
>>>>>>> a956a6eccef2ab816963f69ff2ebe9be66f4002f
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
<<<<<<< HEAD
  width: 100%;
  /* Ensure this is set to 100% */
  position: absolute;
}
=======
  width: 100%; /* Ensure this is set to 100% */
  position: absolute;
}

.read-the-docs {
  color: #888;
}

.transition-container {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.transition-container.hide {
  opacity: 0;
}
>>>>>>> a956a6eccef2ab816963f69ff2ebe9be66f4002f
